@font-face {
    font-family: PoppinsBold;
    src: url('../font/poppins-bold.ttf');
}

@font-face {
    font-family: RalewayRegular;
    src: url('../font/Raleway-Regular.ttf');
}

* {
    box-sizing: border-box;
    color: #333645;
    font-family: RalewayRegular;
}

.ft-left {
    float: left;
}

.ft-right {
    float: right;
}

#wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cmn-container {
    padding: 0px 25px;
}

.clearfix::after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
    content: "";
}

.cmn-container h1 {
    float: left;
    padding: 10px 0 10px 5px;
    font-family: PoppinsBold;
    font-size: 22px;
    text-align: center;
    white-space: pre-line;
}

.cmn-container button {
    float: right;
    margin: 10px 15px 10px 0;
    padding: 8px 20px;
    border: transparent;
    background-color: #1cc2b3;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.sec-header {
    position: fixed;
    width: 100%;
    background-color: #ebe4e4;
    border-bottom: 2px solid #000000;
}

.sidenav {
    position: fixed;
    top: 78px;
    z-index: 1;
    width: 20%;
    height: 100%;
    padding: 20px;
    background-color: #333645;
    overflow-x: hidden;
}

.main-content {
    width: 80%;
    margin-top: 78px;
    padding: 25px;
}

.sidenav li i {
    color: #f1f1f1;
}

.sidenav a {
    display: inline-block;
    padding: 6px 8px 6px 16px;
    color: #f1f1f1;
    font-size: 17px;
    text-decoration: none;
}

.sidenav a:hover,
.sidenav .fas:hover {
    color: #f1f1f1;
}

.sidenav li {
    margin-left: 15px;
    padding: 15px;
    list-style-type: none;
}

.fas {
    font-family: "Font Awesome 6 Free";
    font-size: 17px;
    font-weight: 900;
}

.sec-footer {
    float: right;
    width: 100%;
    padding: 10px;
    background-color: #cdfcf9;
    font-size: 20px;
}

.form {
    padding: 20px 0px;
}

.form-title {
    margin: 0px 0;
    font-family: PoppinsBold;
    font-size: 22px;
    text-align: center;
}

.form-sec {
    width: 95%;
    margin: 0 auto;
}

.col {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.form-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.second-column {
    width: 48%;
}

.second-column label,
.second-column span {
    margin-bottom: 11px;
}

small {
    margin-bottom: 5px;
    font-size: 12px;
}

.form-sec input[type=text],
.form-sec input[type=file],
.form-sec input[type=number],
.form-sec select,
.form-sec textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 10px;
    border: none;
    box-shadow: rgba(20, 20, 20, 0.15) 0px 5px 5px;
    background-color: #ffffff;
    color: #333645;
    font-size: 14px;
    outline: none;
    border-bottom: 1px solid #33364590;
    border-radius: 5px;
    resize: none;
}

option {
    color: #494848;
    font-size: 16px;
}

::placeholder {
    padding-left: 10px;
}

.form-sec select {
    padding-left: 10px;
    color: #494848;
}

.form-sec .create-btn {
    margin-bottom: 30px;
    padding: 10px 20px;
    border: none;
    background-color: #1cc2b3;
    cursor: pointer;
    border-radius: 4px;
}

/* Add Button */
.search-form {
    margin: 2px 15px 0 0;
}

.search-form .search-input {
    margin-right: 8px;
    padding: 5px;
    outline: none;
}

.search-btn {
    padding: 9px 8px;
    border: none;
    background-color: #34e411;
    border-radius: 10px;
}

.add-btn {
    margin: 10px 0;
}

.add-btn-link {
    padding: 10px 13px;
    border: transparent;
    background-color: #08e28f;
    color: #333645;
    font-size: 17px;
    border-radius: 10px;
}

.add-btn-link i {
    color: #333645;
    font-size: 17px;
}

/* Table */
table {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
}

.heading {
    background-color: #adabab;
}

.heading th {
    padding: 15px 10px;
    text-align: center;
}

td {
    padding: 8px 0px;
    text-align: center;
}

tr:hover {
    background-color: #eee8e8;
}

tr:nth-child(2n) {
    background-color: #d1cdcd;
}

.edit-btn,
.seemore-btn,
.delete-btn {
    margin-right: 10px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}

.edit-btn {
    padding: 5px;
    background-color: #16ccec;
}

.edit-btn i {
    font-size: 18px;
}

.seemore-btn i,
.delete-btn i {
    font-size: 17px;
}

.seemore-btn {
    padding: 5px;
    background-color: #08e28f;
}

.delete-btn {
    padding: 5px;
    background-color: #e70e0e;
}

.paginate {
    margin-top: 15px;
    margin-left: 20px;
}

/* See More */
.seemore {
    width: 600px;
    margin: 0px auto;
}

.seemore i {
    color: #ffffff;
    font-size: 14px;
}

.back-btn {
    margin-bottom: 10px;
    padding: 8px 10px;
    border: none;
    background-color: rgb(19, 18, 18);
    color: #ffffff;
    border-radius: 10px;
}

.seemore-container {

    padding-bottom: 20px;
    background-color: #d1cdcd;
    text-align: center;
    border-radius: 10px;
}

.seemore-ttl {
    padding-top: 15px;
    font-family: 'RalewayRegular';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.img-container {
    width: 125px;
    height: 125px;
    margin: 20px auto;

}

.img-container img {
    width: 100%;
}

.seemore-container label {
    width: 180px;
    margin-right: 20px;
    font-size: 17px;
    text-align: center;
}

.seemore-container span {
    width: 300px;
    margin-left: 0px;
}

.seemore-container .seemore-item {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
}

.sp {
    display: none;
}

/* Side Bar */
.sidenav li {
    margin-left: 10px;
    padding: 15px;
    list-style-type: none;
}

.fas {
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
}

.sec-footer {
    float: right;
    width: 100%;
    padding: 10px;
    background-color: #cdfcf9;
    font-size: 20px;
}

.dropbtn {
    margin: 22px 0px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn span {
    font-size: 20px;
}

.dropbtn .fa-circle-user {
    font-size: 32px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 56px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #c4bdbd;
    min-width: 106px;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    color: #000000;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn .fa-circle-user {
    color: #00000090;
}

/* Mobile Seemore */
@media screen and (max-width:767.9px) {
    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .seemore {
        width: 100%;
        margin: 0vw auto;
    }

    .seemore i {
        color: #ffffff;
        font-size: 2.188vw;
    }

    .back-btn {
        margin-bottom: 1.563vw;
        padding: 1.25vw 1.563vw;
        border: none;
        background-color: rgb(19, 18, 18);
        color: #ffffff;
        border-radius: 1.563vw;
    }

    .seemore-container {
        padding-bottom: 3.125vw;
        background-color: #d1cdcd;
        text-align: center;
        border-radius: 1.563vw;
    }

    .seemore-ttl {
        padding-top: 2.344vw;
        font-family: 'RalewayRegular';
        font-size: 3.125vw;
        font-weight: bold;
        text-align: center;
    }

    .img-container {
        width: 19.531vw;
        height: 19.531vw;
        margin: 3.125vw auto;
    }

    .img-container img {
        width: 100%;
    }

    .seemore-container label {
        width: 37%;
        margin-right: 0vw;
        font-size: 2.656vw;
        text-align: center;
    }

    .seemore-container span {
        width: 60%;
        margin-left: 0vw;
        font-size: 2.656vw;
    }

    .seemore-container .seemore-item {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.563vw;
        text-align: left;
    }

}
