/**
* Authentication
*/
@font-face {
  font-family: PoppinsBold;
  src: url('../font/poppins-bold.ttf');
}

@font-face {
  font-family: RalewayRegular;
  src: url('../font/Raleway-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: RalewayRegular;
}


.auth-success {
  color: #1a8b1a;
}

.auth-error {
  color: #ce2424;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.auth {
  background: url('/img/bg.webp') no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.auth-container {
  width: 500px;
  background-color: #33364559;
  border-radius: 15px;
  padding: 20px;
  color: #333645;
}

.login-container {
  margin: 150px auto;
}

.register-container {
  margin: 56px auto;
}

.card-header {
  text-align: center;
  font-size: 25px;
  color: #333645;
  font-family: PoppinsBold;
}

.card-body {
  margin-top: 21px;
}

.auth-row {
  margin: 20px;
  position: relative;
}

.auth-row i {
  position: absolute;
  left: 6px;
  top: 10px;
  color: #333645;
}

.auth-input {
  width: 100%;
  padding: 10px 35px;
  border: none;
  border-bottom: 1px solid #FFFFFF90;
  outline: none;
  background-color: transparent !important;
  color: #333645;
}

.auth-btnrow {
  margin: 20px;
  text-align: center;
}

.reset-pass {
  display: flex;
  justify-content: space-between;
}

.btn-auth,
.btn-forgotpass {
  padding: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #333645;
  background-color: #FFFFFF90;
}

.btn-auth {
  width: 40%;
}

.btn-auth:hover {
  background-color: #33364590;
  transition: 1s;
  color: #FFFFFF;
}

.btn-forgotpass {
  width: 60%;
}

.rt-content-link {
  color: #FFFFFF90;
}

.rt-content-link:hover {
  color: #333645;
  transition: 1s;
}

.forgetpass-container {
  margin: 198px auto;
}

.resetpass-container {
  margin: 159px auto;
}