@font-face {
  font-family: PoppinsBold;
  src: url('../../font/poppins-bold.ttf');
}

@font-face {
  font-family: RobotoRegular;
  src: url('../../font/Roboto-Regular.ttf');
}

.sec-body {
  overflow: hidden;
}

/* popular sections */
.popular-ebooks-sec,
.top-authors-sec,
.popular-category-sec {
  margin: 40px 0;
  font-family: RobotoRegular;
  line-height: 1.3;
  overflow: hidden;
}

.popular-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.book-name {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
}

.book-author,
.book-seemore {
  font-size: 12px;
  display: block;
}

.top-authors-sec ul li,
.popular-category-sec ul li {
  background-color: #fffbcd;
  width: 179px;
  padding: 50px 0;
  text-align: center;
  margin-right: 40px;
  margin-bottom: 20px;
}

.top-authors-sec ul li:nth-child(5),
.popular-category-sec ul li:nth-child(5) {
  margin-right: 0px;
}

.top-authors-sec ul li i,
.popular-category-sec ul li i {
  margin: 20px 0;
}

.author-name,
.category-name {
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

/*Slider*/

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-prev {
  z-index: 9999;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

/*----------tablet----------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  /* popular sections */
  .popular-ebooks-sec,
  .top-authors-sec,
  .popular-category-sec {
    margin: 3.125vw 0;
  }

  .popular-title {
    font-size: 1.563vw;
    margin-bottom: 1.172vw;
  }

  .book-name {
    font-size: 1.016vw;
    margin-top: 0.781vw;
  }

  .book-author,
  .book-seemore {
    font-size: 0.938vw;
  }

  .top-authors-sec ul li,
  .popular-category-sec ul li {
    width: 13.984vw;
    padding: 3.906vw 0;
    margin-right: 3.125vw;
    margin-bottom: 1.563vw;
  }

  .top-authors-sec ul li:nth-child(5),
  .popular-category-sec ul li:nth-child(5) {
    margin-right: 0vw;
  }

  .top-authors-sec ul li i,
  .popular-category-sec ul li i {
    margin: 1.563vw 0;
  }

  .author-name,
  .category-name {
    font-size: 1.172vw;
    margin-bottom: 1.563vw;
  }

  /*Slider*/
  .slick-slide {
    margin: 0 1.563vw;
  }
}

@media screen and (max-width: 767.9px) {

  .top-slider{
    z-index: 1;
  }

  /* popular sections */
  .popular-ebooks-sec,
  .top-authors-sec,
  .popular-category-sec {
    margin: 6.250vw 0;
  }

  .popular-title {
    font-size: 3.125vw;
    margin-bottom: 2.344vw;
  }

  .book-name {
    font-size: 2.031vw;
    margin-top: 1.563vw;
  }

  .book-author,
  .book-seemore {
    font-size: 1.875vw;
  }

  .top-authors-sec ul li,
  .popular-category-sec ul li {
    width: 24.969vw;
    padding: 7.813vw 0;
    margin-right: 6.250vw;
    margin-bottom: 3.125vw;
  }

  .top-authors-sec ul li i,
  .popular-category-sec ul li i {
    margin: 3.125vw 0;
  }

  .top-authors-sec ul li:nth-child(3),
  .popular-category-sec ul li:nth-child(3) {
    margin-right: 0vw;
  }

  .author-name,
  .category-name {
    font-size: 2.344vw;
    margin-bottom: 3.125vw;
  }

  /*Slider*/

  .slick-slide {
    margin: 0 3.125vw;
  }
}