* {
  box-sizing: border-box;
}

.ft-left{
  float: left;
}
.ft-right{
  float: right;
}

@font-face {
  font-family:PoppinsBold;
  src: url('../font/poppins-bold.ttf');
}

@font-face {
  font-family:RalewayRegular;
  src: url('../font/Raleway-Regular.ttf');
}

.form-title {
  font-family: PoppinsBold;
  font-size: 22px;
  margin: 20px 0;
}

.form-sec {
  width: 800px;
  margin-left: 30px;
}

.form-sec input[type=text], 
.form-sec input[type=file],
.form-sec select,
.form-sec textarea {
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

::placeholder {
  padding-left: 10px;
}

.form-sec select{
  color: #888888;
  padding-left: 10px;
}

.form-sec .create-btn {
  background-color: #1cc2b3;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 30px;
}