/*.tbl-authlist-suan {
  border-collapse: collapse;
  width: 100%;
  border: 1;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr {
  background-color: #dddddd;
}*/

/* admin profile start */
.container-profile-suan{
  border: 2px solid black;
  box-shadow: 3px bottom;
}